{# ACL 配置模板 #}
{% if acl_type == 'standard' %}
ip access-list standard {{ acl_name }}
{% for rule in rules %}
 {{ rule.action }} {{ rule.source }} {% if rule.wildcard %}{{ rule.wildcard }}{% endif %}
{% endfor %}
{% elif acl_type == 'extended' %}
ip access-list extended {{ acl_name }}
{% for rule in rules %}
 {{ rule.action }} {{ rule.protocol }} {{ rule.source }} {% if rule.source_wildcard %}{{ rule.source_wildcard }}{% endif %} {% if rule.source_port %}eq {{ rule.source_port }}{% endif %} {{ rule.destination }} {% if rule.dest_wildcard %}{{ rule.dest_wildcard }}{% endif %} {% if rule.dest_port %}eq {{ rule.dest_port }}{% endif %}
{% endfor %}
{% endif %}

{% if apply_to_interface %}
{# 应用 ACL 到接口 #}
interface {{ apply_to_interface }}
 ip access-group {{ acl_name }} {{ direction | default('in') }}
{% endif %}

